---
---
/*
* zh 
*
*/
@import "{{ site.theme }}";

body{padding:0;margin:0;overflow-x: hidden;}
.wrapper{
    width: 1000px;
    position: relative;
    &::after{
        content:"";
        height: 0;
        line-height: 0;
        display: block;
        clear: both;
        visibility: hidden;/*将元素隐藏起来*/
        /*在页面的clearfix元素后面添加了一个空的块级元素，这个元素清除了浮动*/
    }
}
header{
    position:fixed;
    width: 300px;
    img{display: block;margin:0 auto;}
    z-index: 2;
   
    h1{
        font-size: 20px;
        text-align: center;
        margin:16px 0 48px;
    }
}
header.scroll{
    position: relative;
}
section{width: 650px;position: relative;z-index: 2;}
.change-lang a{
    display: inline-block;
    width: 80px;
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid #27339F;
    text-align: center;
    cursor: pointer;
}
.change-lang a svg{
    vertical-align: middle;
    margin-right: 8px;
}
.change-lang a:hover{
    border-color: #3B4EFF;
    color: #3B4EFF;
    svg g{
        fill:#3B4EFF
    }
}
.change-lang #en-us{
    display: none;
    svg{
        margin-right: 19px;
    }
}
.change-lang{
    text-align: right;
    margin-bottom: 90px;
    padding: 15px 0;
    box-shadow: 0 0 6px #ccc;
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
}
.change-lang #title{
    float: left;
    color: #393939;
    font-size: 26px;
    font-weight: bold;
}
.change-lang input.active{
    
}
a:hover{
    color:#0aadff;
    font-weight: normal;
}
em{
    // display: none;
    font-style: normal;
}

section h2{
    position: absolute;
    top: -126px;
    font-size: 26px;
    left: -350px;
    visibility: hidden;
}

del{
    text-decoration: none;
    display: none;
}

h3{
    font-size: 20px;
    color:#F7651C;
    margin:45px 0 16px;
}
h3:first-of-type{margin-top: 0;}

h4{
    font-weight: normal;
    display: flex;
    strong{
        display: block;
        width: 120px;
        min-width: 120px;
        margin-right: 10px;
        del{display: none;}
        em{display: inline;}
    }
    em{display: block;}
    em,del{
        width: 520px;
    }
}

p{
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 16px;
}

a{
    color: #000;
}
ul{
    padding-left: 0px;
    margin-bottom: 30px;
}
li{
    list-style: none;
    margin-bottom: 16px;
}

section p{
    color:#F7651C;
    font-size: 16px;
    strong{color:#F7651C;}
}

.small-ico-1{
    position:fixed;
    top:400px;
    left:17%;
    width: 46px;
    height: 46px;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABcCAMAAADUMSJqAAAAZlBMVEX////JzOf92cf//fva3O/939Ds7ff+4tTS1ev+6+D7/P74+Pzl5vPW2O3+8uzO0On+28r09Prw8fn+39D/9vLd3/D/7uX+59v9/f7/9O//+/j/+PXo6fXg4vH/8Oj+5djQ0+r+3cxou4YFAAACK0lEQVRo3sTVQQrCMBBG4fFFCRWVQENqU7B4/0u6dGWnTPnxHeBbhMmM/a1kutZRp08g0wf46gobLgq9gUx/gEyvBZneC6j0NIJMX0GmN5DpFWR6L+j0DDK9gUxfQKanEZ0+gEyvoNNHdHpjR0PM7uwopxg+Ce2KW/xeZ6E941YW4RjW+Ll3e1i0C17NTPbik4XLwqWy4FS6btUyW7wS3lbH5zDbgbL7M+MltnuZ7lVWO9LKViUdwovuUWxRTYp/l7v5PW+x2zmY3/V+OkfOxDvtsk8/9U/zZZTbMAgE0R2ZEIxxKCjURE3S3P+UVb8StQ67rFOp7wBPo2G94I2nOTl8Y7qfKzuZ+7n9uGkZpgg07KctY2gBtOyHDcED0LZf1Y3Xgh8YefIDf5Sc/aQMniPA2o+qh0oNWMfIroqhVckMiOy7/jvCRkBmX3rn0Bs0Mey4vDVjM3au9IVpW2of5UNeA0SYdvSBaURsv8p2VnYA+u17wReUZwAa+7Dn/n+sQyeB7vZW5T7c0MuZHhifTnk2gM595+Nz5Ty9LREK7O+r+n33+An5FGbosLTGcLyO47KMhzJHqEnU5AI9caI2BWqcpz+Tm0oM+loC8QRl3ZkEnKFhnkhC1lfC4xVTkkiKQyeXSmKCPjbPpNiBcgzEFG5I9NFnrhH9qLtMKopAbUmL4QphUuvXV7wk2oZ9GtrSdvxK+Gisp9dQbbndxa6cU6WX4lO21uY00T/iC6NwJK8m9qkxAAAAAElFTkSuQmCC') no-repeat center center;
    background-size: 46px 46px;
    animation: run 6.5s linear infinite;
}
.small-ico-2{
    position:fixed;
    top: 526px;
    right: 16%;
    width: 68px;
    height: 63px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAAB+CAMAAADIr6lkAAAAY1BMVEX////Kzej+2cf+3Mv//f3j5PLv8Pj/+vfT1ezm5/T/8+7/9/Pa3O/+38/q6/bg4vH/7ub+7OP+59v5+v3//Prz9Pr39/z/8er+6d78/P7+5dj+49XW2O3+4dLP0ur/9fDc3vCAIX5+AAAEpklEQVR42uWbi5KjIBBFW0AxPqIx+I7J/v9Xbmofw0Rgmgy2btWeD0jdapvuy6UC/x35MC1Lc8kEHMpjZn/gwwOOo2efmXM4iJ6taBQcgWIGvIcDaJiFZv+ulcxKKWFnamaH79az4/U6AsDMXOyipI3T6ElaJZyxA2sSR3+5ibo8Tskt+qAAgJofpKSKNBU8UY1LiQRCkugTMfwicxRlEUBHahECynF6GiCjjWxCQDg+Tw1U/HgRUsEHF2aFzBfcX4QUgCnhCkgYoxdSQJSQtUkbvQK4kgwoOK+EdLgSLoCA00pI4uFOBtCQCTnBC6JETg6ZkAJekdxSEQVALiSCFRnTUNr6c2RrEnfDlj3QkEQrYlgzaxn8IoCIa7QihTVynxtOtKYDx8dZcqAkxb+NKPe4ZRXRijsY5IwhzUFxfqMEDHoJ5LSGkAKO4W4oucLGCCm9LBrSroHIoWRPyiZDZytlScTAPuCDQkYaXUnExDTYZL4RlmRCQh/s21SwDRkzmRRybghKYrdVZY5efjU/CAqi6cFOF5l0sAEDc1Aj7bpVSdrzkw6AszeVJFuWZIz/9Nw9nti7StJos43Tpp9+Qg6oErwkLXyHbjUE5PSekttGJRlT446UuTolQ0oSNEsqy2VNTUgQhnXJKTRbOCFRSym8/FGUht6SYu3wOLMx2b0r6hlxbq6N9fBv2HaLoeZu94e9JrlfScbvnF1NCqiSxW/jJIH3V48NWHuZ1yrwatJ5KJE+JbkHx0/4W9DsNV67MCGxzzNd7+MZz995btHc1o5tMYfaYglux9B9ExvHDgnC+GwfaxUyXMPiJ7NhZ663HzLUAu/R1VfucSndwW2KbODw+Enwj+b4KritAt2Rh7vKdHNoMtSWnAPjp8p++Zs5Yk3GwFtw4bGuFF9K/I3uFiDEdxL1Po8vcZhL67zc1eyx/ZJAu3j3uQxIDy99DRRSebmr2kNJsCPxWpwLs8AfXxzALsTGu/dVzhAlxgEMe711D8UafcutjD0e/G0KJNOyB1txwGB13dQSNEzSXOwmawyI1JG6amtij9hOoZneNUJKguVaPDOEpGPAcwfeajVzMEndrAGhUYuVBFfCBgmFrkcb+AKEW86aOZl0ADbCN+nwkuBKOEB3ftJCAD/QLsGVDPAW4bltj+RaYRRvpPt56Rsmhc0S/BqtJpKC6I2Fe0Z3sDWRvK/j+1Nc+KsOAVsRv5mWquGTlEEAkJUE3+RZ8/sRcpCwJfG3okEpdTHISnKHYygQy0iC7H084wmIERdrcHs3vSstPbeP5Nj0ApTkiza92OoDOpQOLGVY/ITjO5ln/NskQENfGjcSLH6iIJ/R1b3H+VWDxxtdsYOQ3MdWnfaYaINHEJYQCjGD2y8a9rpLs2YMV7LP1mtwJamRuVKgOKqk2MeQPBimpPKwaIT/19J/YYv3MkYNszIrLYTSBeBBGM8sQhIgRHJmp1Hmf5lIyV1KeK1PDRqUkiphZS1uyHPLTkoYT6r0V5vGLexAzlzM+g+RCMQ1qWFnpOMUS9gb0SDuhBI8k1NwBMooSg8Hkc//ho4nD50/zQ84FJFdmmWZhhz+N34C6qdCSCic7XEAAAAASUVORK5CYII=') no-repeat center center;
    background-size: 68px 63px;
    animation: run 6s linear 1s infinite;
}

.small-ico-3{
    position:fixed;
    top:882px;
    right: 0;
    width: 410px;
    height: 77px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAzQAAACaCAMAAABIUv1GAAAAb1BMVEX/////iE3/uZX/z7j/49X/pXj/9fD/k17//fz/jFL/+/j/iU//soz/7OL/nWz/jlb/8uz/v5//lmH/2sf/4ND/mWb/y7H/zrX/59r/w6T/m2j/2MT/kVr/rIP/oXL/+PP/8Oj/1L7/qH3/vJr/xqp5dKGYAAAFN0lEQVR42uzcWXKjUAyFYR3iToDLEMxggw0e97/Gfkl1tbvt2HJV8hD+bw8Uku6R7FvEm2woyyHbxAbgAXWrD21tAO6qpKLL0zTvCqkyAHdUSlb2YZXw1QD31Eoa+6NJRIUGfCputbK/rNQyDQA+s1FhFwptDMBtmTq70CkzALcNyu1CrrD8zzRG1eHVAJiVSu1CqpuGU02/A1z5aMr3f+3X9eE8lpLe+ncD5u1KeTbYdfH6XEhhbAyYM+cgYJEl0jE3YL7cI+fX81YhokjDfD3xuLk7JUp6RgKYrWdiNPssaFgYMFNPBTYXhUKUGjBPT60GxH2idm3APD23hJZPCmcD5um5dee4CvrFGA3waJba8tQJeLyOCr0BcDgHjTsD8Lhmq5ZYDeCxn1RyVwDwSDMaG8CpCxqJBwDOxqbYG4DH7QtebACfdFToDIBDH5TR2AAedamJKBrgkbd6YzUN8NgdldDYAB5xJRobwGdTqiCKBnjkg8qDAfBE0SjRAKcXbm4ATvmkwDVBwCOuuCYIOC0GhYg9aMAh7hNtO2o0wCE/Skumz4BHU0jFgfEz4HBYStsTEQHgcfFhkjRVDf8b4GF5VEpKpjHqVy/AV7MfIW36KQj4FvZjpIt61Z8i4KsZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC/2buTXbWBIArDdQiD27MBg7mYyeb9nzFSFEXXUhbVkaP4Rv+3Z9miXVWnCwAAAAAARKvPq3LHQg6wasMpPd8FcGjctk0vVfm527JCHXBIL5W0ubKUE3B67aRbZwB8noO0WRsAp3NQ/zIATvUg5Q8D4HTo1R8MgFPSZLptDYDTdqPsZAC8ur321JkBv1fQhqsZ4JaM0oqJGcAtHRS+GQCvZ6kdnzOAX7dT+TQAXsdKA0MAgN8rU04JAPB7SxcD4NYoOxsAryRXuBoAr/Sm6mgAvNKNetozgN/jrn1hALzqUi0tTcDv2apkqhnwK/a6MwYA+HW9Bt4CBPzWlW6cGcDvWDFuBsQ4BK0MQMxY82gA3L5ljDUDMU7S2wC4vYkCALHxGVYCABFWCrxvDsRFzojPAHGRMzacAX4PImdAlG1J5AyIjM981AbAq9jpTuQM8FtXxGeAGIdAFACIcWKsGYgdnWFEE4hqaQbGzQC/+q6e0RnAr9uppaUJ+H0LLDkDIiQraaTUDLjVG0oAWJL0cFmtLocFt9mPvfZMNWMxHmPQD2Fc6CdD0mS6beN+cs0/quojv3Kjw/zWvbLN5fW6bDL1i8x1FWV0R/PQ6qeWSDTmdgwaCvuhGJaYIE7eQW1nURqpPBVpWpxKqTFgTs9Ko/0yqlraaqR1qWxMY89MONtP58Cpwbxuyu2TXDdbkmcutUeLc1A4Tv5KuaFhRp2qh33yqLSgIlU9BoV3YnGSVmf75KyWagDm06ixiWY5l5l1HpTlT4t1VWkTpa4GzOWutU2sdbcFqA/jXsrywuLlOtnESbkBc+m1tYmtst0/12eStG9q+xMfKmyi0H4NzMSCEptItATZbrh09ocqpTaRCpiN7VXbRK3d9p97mIv/0GQbYCY26GoTVw32xf3mevZhwFxOutnETSf74igE4K/ahqyzT7osfPln+Cg54++6qH3YL4/2P1hhSXMT39u3YxSAQSCIopkmSNBdC4toIeL9DxmLdKkXNjLvDBYuzLcVOmQcryHoG7wvzmjI1inQmo8lV4X8/nPGwSbZuyKANmcDEB3Hm0wDyJE7KhaNjraaH4zQyJeQSkkbXDPMncncAxSnbtlkn7gDAAAAAElFTkSuQmCC') no-repeat center center;
    background-size: 410px;
    animation: run 7s linear 1.5s infinite;
}
.greet-circle{
    width: 800px;
    height: 800px;
    border:1px solid #FF884D;
    position:absolute;
    border-radius: 100%;
    animation: myMove 8s linear infinite;
    top:-639px;
    left:-590px;

    .small-circle{
        width: 16px;
        height: 16px;
        background-color: #FF884D;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

blockquote{
    font-style: normal;
    padding-left: 0;
    border-left: none;
}

ul.tab{
    overflow: hidden;
    margin-bottom: 0;
}
ul.tab>li{
    float: left;
    margin-right: 24px;
    color: #F7651C;
    font-size: 16px;
    cursor: pointer;
}

li.active strong {
    color: #F7651C;
    padding-bottom: 2px;
    border-bottom: 2px solid #F7651C;
}

body.zh{
    em{
        display: none;
    } 
    del{
        display: inline;
    }
    h4{
        strong{
            width: 60px;
            min-width: 60px;
            del{display: inline;}
        }
        em{
            display: none;
        }
        del{
            display: block;
        }
    }
    .change-lang #en-us{
        display: inline-block;
    }
    .change-lang #zh-cn{
        display: none;
    }
}

@media print, screen and (max-width: 960px){
    .wrapper{padding:0 50px;}
    header{
        position: relative;
        width: auto;
        z-index: 2;
        &.scroll{
            position: relative;
        }
    }

    section{
        width: auto;
    }
    .small-ico-1,.small-ico-2,.small-ico-3{
        display: none;
    }
}

@keyframes run{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes myMove {
    from {transform: rotate(99deg);}
    to {transform: rotate(231deg);}
}
